@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #131217;
}

html, body {
    overflow-x: hidden;
    box-sizing: border-box;
}

.margins {
    margin-top: 5vh;
    margin-left: 5vw;
}

.nav {
    display: flex;
    margin-left: 6vw;
    justify-content: start;
    padding-top: 2vh;
}

.nav-row {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-row a {
    text-decoration: none;
    margin-right: 5vw;
    color: #FFFFFF;
    transition: all .3s ease;
}

.nav-row a:hover {
    text-decoration: none;
    color: #FFC745;
    font-weight: 800;
}

.me-page {
    margin-top: 1vh;
}

.bg-design {
    margin-left: -5vw;
    background: linear-gradient(to bottom, rgba(19, 18, 23, 1) 0%, rgba(19, 18, 23, 0) 100%) top,
                linear-gradient(to top, rgba(19, 18, 23, 1) 0%, rgba(19, 18, 23, 0) 100%) bottom,
                linear-gradient(to right, rgba(19, 18, 23, 1) 0%, rgba(19, 18, 23, 0) 100%) left,
                linear-gradient(to left, rgba(19, 18, 23, 1) 0%, rgba(19, 18, 23, 0) 100%) right,
                url("images/background.png"),
                url("images/Topo.png");
    background-size: 100% 100px, 100% 100px, 100px 100%, 100px 100%, cover, cover;
    background-repeat: no-repeat;
    background-position: top, bottom, left, right, center, center;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 3%;
}

.vector-1 {
    background-image: url("images/Vector 1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 48.1vw;
    height: 78vh;
    position: absolute;
    right: 0;
    top: 48%;
    transform: translateY(-40%);
    z-index: 0;
}

.me-img {
    background-image: url("images/Me.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 55vw;
    height: 120vh;
    position: absolute;
    right: 0;
    top: 55%;
    transform: translateY(-40%);
    clip-path: inset(0 0 25% 0);
    z-index: 1;
}

.me-img::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 18vh;
    width: 100%;
    height: 300px; 
    background: linear-gradient(to top, rgba(19, 18, 23, 1) 45%, rgba(19, 18, 23, 0) 100%);
    z-index: 2; 
}

.name-txt {
    background-image: url("images/Logo-cropped.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 47vw;
    height: 110vh;
    position: absolute;
    left: 10vw;
    top: 75%;
    transform: translateY(-40%);
    clip-path: inset(0 0 25% 0);
    z-index: -1;
}

.sticker-1 {
    background-image: url("images/aesthetic 1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 47vw;
    height: 10vh;
    position: absolute;
    left: 35vw;
    top: 37%;
    transform: translateY(-40%);
    z-index: 1;
}

.text {
    letter-spacing: .5rem;
    font-size: .8rem;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 11vw;
    top: 64%;
    transform: translateY(-40%);
    color: #FFFFFF;
    z-index: 3;
}

.dot {
    font-weight: 900;
    margin-left: 15px;
    margin-right: 15px;
    color: #FFC745;
}

.er:hover {
    cursor: pointer;
    font-weight: 900;
    color: #FFC745;
    transition: all .3s ease;
}

.about {
    display: flex;
    flex-direction: column;
    margin-top: 12vh;
}

.work {
    margin-top: 25vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background: 
                linear-gradient(to bottom, rgba(19, 18, 23, 1) 0%, rgba(19, 18, 23, 0) 100%) top,
                linear-gradient(to top, rgba(19, 18, 23, 1) 0%, rgba(19, 18, 23, 0) 100%) bottom,
                linear-gradient(to right, rgba(19, 18, 23, 1) 0%, rgba(19, 18, 23, 0) 100%) left,
                linear-gradient(to left, rgba(19, 18, 23, 1) 0%, rgba(19, 18, 23, 0) 100%) right,
                url("images/background.png");
    background-size: cover;
}

.a-img,
.w-img {
    display: flex;
    justify-content: center;
    width: 100%;
}

.topo-2 {
    display: flex;
    justify-content: end;
    top: 90vh;
    right: -28vw;
    height: 100vh;
    position: absolute;
    opacity: .03;
    z-index: -1;
    overflow: hidden;
}

.topo-2::before {
    content: '';
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100%;
    height: 50vh; 
    background: linear-gradient(to bottom, rgba(19, 18, 23, 1) 25%, rgba(19, 18, 23, 0) 100%) top;
    pointer-events: none; 
}

.topo-2 img {
    width: 100%;
    height: auto;
}

.topo-1 {
    display: flex;
    justify-content: start;
    bottom: -150vh;
    left: -20vw;
    height: 85vh;
    position: absolute;
    opacity: .03;
    z-index: -1;
    overflow: hidden;
    clip-path: inset(0 56% 0 0);
    transform: rotate(90deg);
}

.topo-1::before {
    transform: rotate(-90deg);
    content: '';
    position: absolute;
    bottom: 50vh; 
    left: -10vw;
    width: 100%;
    height: 25vh; 
    background: linear-gradient(to top, rgba(19, 18, 23, 1) 15%, rgba(19, 18, 23, 0) 100%);
    pointer-events: none; 
}

.about-img,
.work-img{
    width: 30vw;
}

.work,
.w-img,
.iron-man {
    position: relative;
}

.head {
    position: absolute;
    top: -18vh; 
    left: 10vw; 
    z-index: 1; 
    transform: rotate(10deg);
}

.hands {
    position: absolute;
    top: -3.5vh; 
    left: 10vw; 
    z-index: 3; 
}

.work-img {
    position: relative;
    z-index: 2;
}

.a-txt {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2vh;
}

.txt-containter {
    display: flex;
    line-height: 200%;
    font-size: 1.08rem;
    font-weight: 100;
    color: #FFFFFF;
    text-align: justify;
    margin-left: 25vw;
    margin-right: 25vw;
    padding-top: 5vh;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 10vh 11vw;
    justify-content: center; 
}

.container, .certificate {
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    width: 20vw;
    height: 20vh;
    border-radius: 10px;
    margin-right: 5vw;
    overflow: hidden;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.container::before, 
.certificate::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 1; 
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.proj-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.proj-text {
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    pointer-events: none;
    z-index: 2; 
}

.container:hover,
.certificate:hover {
    transform: scale(1.1); 
}

.container:hover::before, 
.certificate:hover::before {
    opacity: 1; 
}

.container:hover .proj-text,
.certificate:hover .proj-text {
    opacity: 1; 
}

.overlay {
    width: 65rem;
    padding: 3vh;
    height: 31rem;
    background: rgba(90, 90, 90, 0.2); /* Semi-transparent background for glassmorphism */
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9); /* Initial scale for transition */
    backdrop-filter: blur(15px); /* The blur effect for glassmorphism */
    -webkit-backdrop-filter: blur(15px); /* Ensures compatibility with older webkit browsers */
    border: 1px solid rgba(255, 255, 255, 0.18); /* Slight border to enhance glassmorphism */
    z-index: 6;
    display: none; /* Hidden initially */
    overflow-y: auto;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth opening/closing transition */
    opacity: 0; /* Initial opacity for fade-in effect */
    overflow-x: hidden;
    overflow-y: hidden;
}

.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
    display: none; /* Hidden initially */
    transition: opacity 0.3s ease; /* Smooth fade effect */
}

.overlay.show {
    transform: translate(-50%, -50%) scale(1); /* Reset scale on show */
    opacity: 1; /* Fade in on show */
    display: block; /* Ensure it's displayed */
}

.overlay-background.show {
    display: block; /* Ensure background is displayed */
    opacity: 1; /* Fade in the background */
}

.overlay::before {
    content: "";
    position: absolute;
    top: -5px; /* Adjust for gradient border */
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
    border-radius: 25px; /* Slightly larger border-radius to create the effect */
    pointer-events: none; /* Ensure it doesn’t interfere with content */
    z-index: -1; /* Make sure it’s behind the overlay content */
}

.proj-title {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.proj-details {
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 0.5%;
    white-space: pre-line; /* Preserve line breaks in the text */
}

.overview, .features {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
}

.overview-desc, .feature-desc {
    line-height: 150%;
    font-weight: 100;
}

.feature-desc { 
    margin-left: 2.2%;
}

li h4 {
    display: inline-block;
    margin: 0;
}
  

.btn {
    position: fixed;
    cursor: pointer;
    margin-top: 1vh;
    margin-left: 0.5vw;
    width: fit-content;
    padding: 1rem;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background: #FFC745;
    color: #131217;
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.btn:hover {
    scale: 110%;
    font-weight: 900;
}



